{% extends 'base.html' %}

{% block title %} Adopt-A-Pet {% endblock %}

{% block content %}

<h1>Our Pets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Species</th>
    <th>Availability</th>
  </tr>

  {% for pet in pets %}
    <tr>
      <td><a href="/{{pet.id}}">{{ pet.name }}</a></td> <!-- Add jinja logic to avoid broken images -->
      <td><img src="{{ pet.photo_url }}" width="100px" height="100px" /></td>
      <td>{{ pet.species }}</td>
      <td><strong>{{ 'Available' if pet.available else 'Not Available' }}</strong></td>
    </tr>
  {% endfor %}

</table>

<p><a class="button" href="/add">Add a Pet</a></p>

{% endblock %}